.breadcrumb{
  position: relative;
  z-index: 2;
  margin: 10px 0;
  li {
    display: inline-block;
    list-style: none;
    font-size: 0.7em;
    padding: 0 8px;
    a {
      color: $blue;
    }
  }

}