input {
  padding: 0.8em 0.8em;
  font-size: 0.8em;
  vertical-align: middle;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid $mGrey;
  margin-bottom: 1.2em;
  outline: 0;
  width: 100%;
  box-sizing: border-box;
}

input.error {
  border: 1px solid $red;
}

.half-width{
  width: calc(50% - 0.6em);
}

input[type="checkbox"] {
  width:auto;
  margin: 0 0.3em 0 0;
}

input:focus {
  border-color: $mGrey2;
}

::-webkit-input-placeholder {
  color: $mGrey;
}
::-moz-placeholder {
  color: $mGrey;
}
:-ms-input-placeholder {
  color: $mGrey;
}
:-moz-placeholder {
  color: $mGrey;
}

//CUSTOM CHECKBOX
.cbox {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  cursor: pointer!important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.cbox input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  //border-radius: 2px;
  border: 2px solid $mGrey;
}

/* On mouse-over, add a grey background color */
.cbox:hover input ~ .checkmark {
  background-color: $lGrey;
}

/* When the checkbox is checked, add a blue background */
.cbox input:checked ~ .checkmark {
  background-color: $lGrey;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 7px;
  height: 12px;
  border: solid $blue;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}