header {
  height: 56px;
  padding: 8px 0;
}

#logo {
  height: 30px;
  margin: 6px 0;
  display: block;
  background: url("/images/zooru_logo.svg") no-repeat 0 / contain;
}

.sub-menu {
  display: inline-block;
  text-align: right;
  margin: 6px 0 0 0;
}

a.header_up_item {
  display: inline-block;
  font-size: 11px;
  cursor: pointer;

  .material-icons {
    font-size: 22px;
    margin: 0 6px 0 15px;
    vertical-align: middle;
  }
}

a.header_up_item:hover:not(.seporator) * {
  color: $red;
}

.phone a{
  color: $grey;
  font-size: 14px;
}

.city {
  font-size: 13px;
  color: $blue;
  .material-icons {
    font-size: 0.8em;
    vertical-align: middle;
    color: $red;
  }
}

.header__menu {
  background: $yellow;
  ul.header-menu {
    font-size: 0;
    line-height: 0;
    li {
      font-size: 15px;
      line-height: 1.5;
      display: inline-block;
      list-style: none;
      padding: 20px;
      box-sizing: border-box;
      cursor: pointer;
      a {
        color: $grey;
      }
    }

    li:hover {
      background: $lGrey;
      a {
        color: $grey !important;
      }
    }

    .active {
      background: $grey;
      a {
        color: #fff !important;
      }
    }
  }
  .header__menu_search {
    min-width: 110px;
    width: 100%;
    margin-top: 10px;
    height: 40px;
    padding-left: 39px;
    font-size: 13px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline: 0;
    background-color: #fff;
    background-image: url('/images/search.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
  }

}


