.order-description {
  width: 100%;
  ul {
    list-style: none;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      text-align: center;
      border-bottom: 2px solid $lGrey2;
      padding: 14px 0;
      flex-grow: 1;
      justify-content: center;
      display: flex;
      a {
        font-size: 14px;
        color: $mGrey2;
      }
    }

    li.active {
      color: $blue;
      border-bottom: 2px solid $blue;
      a {
        color: $blue;
      }
    }
  }
}