.thumb-block ul {
  li {
    list-style: none;
    width: 70px;
    height: 70px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid $lGrey2;
    margin-bottom: 6px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    .photo-thumbnail {
      max-width: 64px;
      max-height: 64px;
      display: block;
      margin: 3px auto;
    }
  }
  li:hover, li:active, li.active {
    border-color: $blue;
  }
}

.photo-main {
  display: block;
  max-height: 350px;
  margin: 0 auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -moz-transform 0.5s ease;
  transition: transform 0.5s ease;
}

.product-window:hover .photo-main {
  -webkit-transform : rotate(-3deg) scale(1.1); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform     : rotate(-3deg) scale(1.1); /* IE 9 */
  transform         : rotate(-3deg) scale(1.1)
}

.sale-cover {
  position: absolute;
  height: 160px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 54px;
  overflow: hidden;
  top: -60px;
  left: 30px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  .sale {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 32px;
    background: $red;
    border-radius: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .sale-text{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    color: #fff;
    font-size: 1.25em;
    font-weight: bold;
    top: 62px;
    left: 16px;
  }
}
