.thumb-block ul {
  li {
    list-style: none;
    width: 70px;
    height: 70px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid $lGrey2;
    margin-bottom: 6px;
    .photo-thumbnail {
      max-width: 64px;
      max-height: 64px;
      display: block;
      margin: 3px auto;
    }
  }
  li:hover, li:active, li.active {
    border-color: $blue;
  }
}

.main-photo {
  width: 100%;
  display: block;
}