.articul {
  text-transform: uppercase;
  color: $mGrey2;
  font-size: 0.7em;
}

.price-block {
  min-height: 40px;
  max-width: 100%;
  padding: 0.6em 0;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 1em auto 0 auto;
  transition: 0.3s;
  color: #000!important;
  .count{
    padding: 0;
    font-size: 0.7em;
    text-align: center;
    color: $lGrey2;
    hr {
      border: 0;
      border-bottom: 1px dotted $grey;
    }
  }
  .price {
    text-align: right;
    font-size: 1.2em;
    padding: 0 1em 0 0;
    white-space: nowrap;
  }
  a {
    color: #000;
  }
}
.price-block:hover, .price-block.active{
  background: $yellow;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.quantity-block {
  margin-top: 1em;
  white-space: nowrap;
}

.quantity{
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none!important;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: inline-block;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 1em;
  font-weight: 300;
  background: $lGrey;
}

.quantity:hover {
  background: $yellow;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.quantity-minus{
  padding: 0 10px;
}

.quantity-plus{
  padding: 0 8px;
}

.quantityInput{
  border: 0;
  background: none;
  text-align: center;
  width: 30px;
}