.articul {
  text-transform: uppercase;
  color: $mGrey2;
  font-size: 0.7em;
}

.price-block {
  min-height: 40px;
  max-width: 100%;
  //padding: 0.6em 0;
  line-height: 3em;

  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0.8em auto 0 auto;
  transition: 0.3s;
  color: #000;
  transition: box-shadow 0.3s ease-in-out;

  .count{
    line-height: 2.2em;
    font-size: 0.7em;
    padding: 0;
    text-align: center;
    color: $lGrey2;
    hr {
      border: 0;
      border-bottom: 1px dotted $grey;
    }
  }
  .price {
    text-align: right;
    font-size: 1.2em;
    padding: 0 1em 0 0;
    white-space: nowrap;
  }
  a {
    color: #000;
  }
}
.price-block:hover:not(.disabled), .price-block.active{
  background: $yellow;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.price-block.disabled {
  cursor: default;
  color: $mGrey;
  hr {
    border-color: $mGrey;
  }
}

.quantity-block {
  margin-top: 1em;
  white-space: nowrap;
}

.quantity {
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: inline-block;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 1em;
  font-weight: 300;
  background: $lGrey;
  transition: box-shadow 0.3s ease-in-out;
}

.quantity:hover {
  background: $yellow;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.quantity-minus{
  padding: 0 10px;
}

.quantity-plus{
  padding: 0 8px;
}

.quantityInput{
  border: 0;
  margin: 0;
  background: none;
  text-align: center;
  width: 30px;
}