.associated-products {
  text-align: center;
}

.product-window {
  border: 1px solid $mGrey;
  text-align: center;
  position: relative;
  padding: 0.7em 0.5em;
  transition: box-shadow 0.3s ease-in-out;
  background: #fff;
  overflow: hidden;
  margin-bottom: 1em;

  .photo-block {
    margin-bottom: 0.8em;
  }

  .sale-cover{
    top: -60px;
    left: 8px;
  }

  .thumb-block {
    display: none!important;
  }

  .product-title {
    font-size: 0.9em;
    display: block;
    color: $grey;
  }

  .price-block {
    font-size: 0.9em;
  }

}

.product-window:hover {
  //2
  //box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  //3
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.product-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  background: #fff;
  opacity: 0.8;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  display: none;
  color: $grey;
  max-width: 60%;
  margin: 0 auto;
  padding: 0.5em;
  cursor: pointer;
}

.photo-main:hover + .product-link, .product-link:hover  {
  display: block;
}