@import "reset";
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
//bootstrap grid
@import "~bootstrap-4-grid";
// Variables
@import "variables";
// grid
//@import "simple-grid";
//material z-depth
@import "z-depth";
@import "layouts/header";
@import "layouts/breadcrumb";
@import "layouts/price";
@import "layouts/photo";
@import "layouts/utp";
@import "layouts/order-description";
@import "layouts/subscription";
@import "layouts/cart";
@import "layouts/product-prew";
@import "layouts/login";
@import "layouts/forms";


// fonts
$font-family: 'Roboto', Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: $font-family;
  color: $grey;
  line-height: $font-height;
}

a {
  text-decoration: none;
  cursor: pointer;
}

hr {
  background: none;
  border: 0;
  border-bottom: 1px solid $mGrey;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  line-height: normal;
}

// utility
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.border-radius-4 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

input, input:focus {
  outline: 0;
}

img {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none!important;
}

.fl_r {
  float: right;
}

.fl_l {
  float: left;
}

.btn {
  display: block;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.5em 2em;
  text-align: center;
  font-size: 0.8em;
  transition: box-shadow 0.3s ease-in-out;
}

.btn:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.btn-disabled:hover {
  box-shadow: none;
}

.btn-disabled {
  background: $mGrey;
  color: #fff;
  cursor: default!important;
}

.btn-round {
  border-radius: 25px;
}

.btn-sqaure {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.btn-green {
  background: $green;
  color: #fff;
}

.btn-trans {
  background: transparent;
  color: $mGrey2;
  border: 1px solid $mGrey;
}

.btn-dark {
  background: $darkBlue;
  color: #fff;
}

.back-wrap {
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
}

.back-wrap.darken {
  background: #000;
  opacity: 0.5;
}

h1 {
  font-size: 2.2em;
  color: $grey;
}

h2 {
  font-size: 1.7em;
  color: $grey;
}

h3 {
  font-size: 1.5em;
  color: $grey;
  text-transform: uppercase;
  margin: 1.4em 0;
}

h4 {
  font-size: 1.1em;
  color: $grey;
}

h5 {
  font-size: 1.2em;
  color: $grey;
}

h6 {
  font-size: 1.1em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently        supported by Chrome and Opera */
}

.blue {
  color: $blue;
}

span.loading{
  background: url('/images/loading.gif') no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
  background-size: contain;
}