.section {
  background: $lGrey;
  padding: 2em 0;

  #goods-info {
    padding: 0.9em 1.5em;
    margin-bottom: 1em;
    background: #fff;
    .itemsPerPage{
      span {
        cursor: pointer;
        padding: 0 0.4em;
        border-radius: 2px;
      }

      .active {
          background: $green;
          color: #fff;
      }
    }
  }

  #filter-menu {
    background: #fff;
    padding: 1em;

    i {
      cursor: pointer;
    }
    .filter-block {
      margin: 0.6em 0;
      font-size: 0.9em;

      .filter-title {
        background: $lGrey;
        cursor: pointer;
        padding: 0.6em 1.2em;
      }

      .filter-body {
        height: 300px;
        opacity: 1;
        height: auto;
        overflow: hidden;
        margin: 0.8em 0;

      }

      a {
        color: $grey;
        display: block;
        margin: 0.3em;
        padding: 0.3em;
        .filter-link {
          width: 100%;
        }
      }

      a.disabled {
        color: $mGrey2!important;
      }

      .count {
        color: $mGrey2;
      }
    }
  }
}