.section {
  background: $lGrey;
  padding: 2em 0;

  #filter-menu {
    background: #fff;
    padding: 1em;

    i {
      cursor: pointer;
    }
    .filter-block {

      .filter-title {
        background: $lGrey2;
        cursor: pointer;
        padding: 0.6em 1em;
      }

      .filter-body {
        max-height: 300px;
        opacity: 1;
        height: auto;
        overflow: hidden;
        margin: 0.6em 0;

      }

      a {
        color: $grey !important;
        display: block;
      }
    }
  }
}